<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Cache-Control" content="no-store" />
  	<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
  <script>
  tinymce.init({
	  selector: 'textarea',
	  height: 500,
	  theme: 'modern',
	  plugins: [
	    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
	    'searchreplace wordcount visualblocks visualchars code fullscreen',
	    'insertdatetime media nonbreaking save table contextmenu directionality',
	    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
	  ],
	  toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
	  toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
	  image_advtab: true,
	  templates: [
	    { title: 'Test template 1', content: 'Test 1' },
	    { title: 'Test template 2', content: 'Test 2' }
	  ],
	  content_css: [
	    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
	    '//www.tinymce.com/css/codepen.min.css'
	  ]
	 });
  
  </script>
</head>

<body ng-app="postItApp" ng-controller="postItCtrl">
<h1>PostIt</h1>
 <p>Messages: {{message}}
  <form method="post">
  	<p>
		<label>To: </label> <input type="text" ng-model="pack.to"  maxlength="255" size="100"></input>
    </p>
    <p>
    	<label>Subject: </label> <input type="text" ng-model="pack.subject" maxlength="255" size="100"></input>
    </p>
    <p>
    	<textarea id="text" ng-bind="pack.text"></textarea>
    </p>
    <button ng-click="sendIt()" value="Send">Send</button>
  </form>
  
  <script>
	var app = angular.module('postItApp', []);
	app.controller('postItCtrl', function($scope,$http,$location) {
	    $scope.pack = {
	    	to  : "green.gregory@gmail.com",	
	    	name : "",
	    	subject: "News Update",
	    	text: ""
	    };
	    
	    $scope.sendIt = function()
	    {
	      
	    	$scope.message = "... sending";
	    	
	  	// Get the HTML contents of the currently active editor
	  	  tinyMCE.activeEditor.getContent();

	  	  // Get the raw contents of the currently active editor
	  	  var text = tinyMCE.activeEditor.getContent({format : 'raw'});
	  	  
	  	  $scope.pack.text = text;
	  	  
	  	
	  	  var urlAddress = $location.protocol()+"://"+$location.host()+":"+$location.port()+"/sendIt";
	  	$http({
	        method : "POST",
	        data:  $scope.pack,
	        url : urlAddress,
	        headers: {
	        	   'Content-Type': 'application/json'
	        	 }
	    }).then(function mySucces(response) {
	        $scope.message = "OK";
	    }, function myError(response) {
	        $scope.message = "STATUS:"+response.data.status+" ERROR:"+response.data.error+
	        " MSG:"+response.data.message+" path:"+response.data.path ;
	    });
	    };
	});
	</script>
</body>
</html>