#navsite h5 {
   display: none;
   }
   
#navsite ul {
   padding: 3px 0;
  margin-left: 0;
  border-bottom: 1px dolid #788;
  font: bold 12 px Verdana, sans-serif;  
 }
  
#navsite ul li a{
  padding: 3px 0.5em;
  margin-left: 3px;
  border: 1px solid #788;
  border-bottom: none;
  background: #DDE;
  text-decoration: none;
}
   
   
   #navsite ul li a:link {
      color: #667;
  }
  
  #navsite ul li a:link:hover, #navsite ul lli a:visited:hover
  {
     color: #000;
     background: #AAE;
     border-color: #227;
  }
  
  #navsite ul li a#current
  {
     background: white;
     border-bottom: 1px solid white;
   }